{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
    <h1 class="main__title">Adicionar Agenda</h1>
    <form action="{% url 'formulario:alterar_endereco' %}" method="POST" enctype="">
        {% csrf_token %}
        <div class="form__item">
            {% for field in form %}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
            {% endfor %}
        </div>
        <div class="form__btn">
            <button class="btn btn-success">Salvar</button>
            <a class="btn btn-danger" href="{% url 'formulario:index' %}">Voltar ao Menu</a>
        </div>
    </form>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">


    <script>
        $(document).ready(function() {
            $('#id_responsavel').autocomplete({
                source: function(request, response) {
                    $.ajax({
                        url: '{% url "formulario:buscar_responsavel" %}', 
                        data: {
                            'q': request.term  
                        },
                        success: function(data) {
                            response($.map(data.results, function(item) {
                                return {
                                    label: item.nome_responsavel,  
                                    value: item.id_responsavel    
                                };
                            }));
                        }
                    });
                },
                minLength: 2,  
                select: function(event, ui) {
                    $('#id_responsavel').val(ui.item.label);
                    $('#responsavel_id').val(ui.item.value); 
                    return false;  
                }
            });
        });
        </script>
{% endblock %}