<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{%url 'formulario:novo_responsavel'%}">Cadastrar Responsável</a>
    <a href="{%url 'formulario:novo_cadastro'%}">Adicionar Novo Cadastro</a>
    <a href="{%url 'formulario:novo_coletista'%}">Cadastrar Coletista</a>
    <a href="{%url 'formulario:novo_hospital'%}">Cadastrar Hospital</a>
    <a href="{%url 'formulario:nova_agenda'%}">Adicionar Agenda</a>
    <a href="{%url 'formulario:novo_responsavel'%}">add</a>
</body>
</html>             