<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Cadastro</title>
</head>
<body>
    <section>
        <h1>Adicionar Cadastro</h1>
        <form  action="{% url 'formulario:novo_cadastro' %}" method="POST" enctype="">
            {%csrf_token%}
                {%for field in form%}
                <div>
                    <label for="{{field.id_for_label}}">{{field.label}}</label>
                    {{field}}
                </div>
                {%endfor%}
                <button>
                    Salvar
                </button>
    </body>
    </section>
</body>
</html>