{%extends 'base.html'%}
{%block content%}
        <h1>Adicionar Responsável</h1>
        <form  action="{% url 'formulario:novo_responsavel' %}" method="POST" enctype="">
            {%csrf_token%}
                {%for field in form%}
                <div>
                    <label for="{{field.id_for_label}}">{{field.label}}</label>
                    {{field}}
                </div>
                {%endfor%}
                <button class="btn btn-success">
                    Salvar
                </button>
                <a class="btn btn-danger" href="{% url 'formulario:index' %}">Voltar ao Menu</a>
{%endblock%}